.thumbnail {
    border-radius: 100%;
    height: 30px;
    margin-top: 10px;
    padding: 1%;
}
.username {
    font-weight: bold;
    font-size: 12px;
    margin-top: 15px;
}
.postImage {
    height: 380px;
    width: 380px;
    padding-top: 1%;
    margin: 0 auto;
}
.container {
    border: 1px solid grey;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin: 1%;
}
.name {
    height: 30px;
}
.icons {
    margin-left: 10px;
}
.likeNum {
    margin-left: 10px;
}
.container .svg-inline--fa.fa-w-16 {

    border: 1px solid black;
}

.likeNum {
    margin-left: 17px;
}